/* normalize */
body { margin: 0; }

/* global styles */
video {
  background-color: #eee;
  width: 100%;
}

.heading {
  font-size: 20px;
  font-family: "arial";
  text-align: center;
  margin-bottom: 0;
}

.note {
  font-size: 14px;
  font-family: "arial";
  text-align: center;
}

.logo {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #0085d5;
}

.meta {
  text-align: center;
  font-family: "arial";
  font-size: 10px;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

/* ---------- p2p-media styles ---------- */
.p2p-media {
  display: flex;
  justify-content: center
}

.p2p-media .remote-stream {
  width: 50%;
  max-higth: 480px;
  padding: 10px;
}

.p2p-media .local-stream {
  width: 20%;
  align-items: center;
}

/* ---------- p2p-data styles ---------- */
.p2p-data {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

/* ---------- room ---------- */
.room {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 8px;
  margin: 0 8px;
}

.room .remote-streams {
  background-color: #f6fbff;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}
